<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Einträge für {{ data[params.customer].name | decryptAES: false }}
                <button class="btn pull-right btn-xs btn-default" style="margin-left: 10px">Einstellungen</button>
                <button class="btn pull-right btn-xs btn-default">Neuer Eintrag</button>
            </div>

            <!-- List group -->
            <div class="list-group" ng-controller="CompassController">
                <a ng-repeat="entry in data[params.customer].entries | filter: global.searchTerm" data-params="{{ entry }}"
                   href="#{{ params.customer }}/{{ entry.ID }}" class="list-group-item">
                    {{ entry.name | decryptAES: false }} <span class="hidden-xs pull-right">{{ entry.site | decryptAES: false | domainName }}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Duplexmedia - FTP Zugang
                <button class="btn btn-default btn-xs pull-right"><i class="icon-pencil"></i></button>
            </div>

            <div class="panel-body entry-head">
                <h3 style="margin-top: 0;">FTP Zugang</h3>
                <div class="tagLine hidden-xs">
                    <span class="label label-default tag" ng-repeat="tag in ['just', 'some', 'tagging']">{{ tag }}</span>
                </div>
            </div>

            <hr style="margin: 0">

            <div class="panel-body entry-detail">
                <span class="detail-entry"><i class="icon-globe icon-fixed-width"></i><a href="#">ftp://ftp.duplexmedia.com</a></span>
                <span class="detail-entry"><i class="icon-user icon-fixed-width"></i>166296</span>
                <span class="detail-entry"><i class="icon-key icon-fixed-width"></i>Geheimes Passwort</span>
            </div>

            <hr style="margin: 0">

            <div class="panel-body entry-markdown" style="max-height: 150px; overflow-y: auto">

            </div>
        </div>
    </div>
</div>
