<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Einträge für {{ data[params.customer].name | decryptAES: false }}
                <button class="btn pull-right btn-xs btn-default" style="margin-left: 10px">Einstellungen</button>
                <button class="btn pull-right btn-xs btn-default">Neuer Eintrag</button>
            </div>

            <!-- List group -->
            <div class="list-group" ng-controller="CompassController">
                <a ng-repeat="entry in data[params.customer].entries | filter: global.searchTerm" data-params="{{ entry }}"
                   href="#{{ params.customer }}/{{ entry.ID }}" class="list-group-item">
                    {{ entry.name | decryptAES: false }} <span class="hidden-xs pull-right">{{ entry.site | decryptAES: false | domainName }}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Duplexmedia - FTP Zugang
                <button class="btn btn-default btn-xs pull-right"><i class="icon-pencil"></i></button>
            </div>

            <div class="panel-body">
                <form role="form">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="icon-fixed-width icon-file-text"></i></span>
                        <input type="text" class="form-control" placeholder="{{ 'Name' | lang:this }}">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="icon-fixed-width icon-tags"></i></span>
                        <input type="text" class="form-control" placeholder="{{ 'Tags (Kommagetrennt)' | lang:this }}">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="icon-fixed-width icon-globe"></i></span>
                        <input type="text" class="form-control" placeholder="{{ 'Internetadresse' | lang:this }}">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">
                                    <lang>Website öffnen</lang>
                                </a></li>
                                <li><a href="#">
                                    <lang>In die Zwischenablage</lang>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="icon-fixed-width icon-user"></i></span>
                        <input type="text" class="form-control" placeholder="{{ 'Benutzername' | lang:this }}">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">
                                    <lang>In die Zwischenablage</lang>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="icon-fixed-width icon-key"></i></span>
                        <input type="password" class="form-control" placeholder="{{ 'Passwort' | lang:this }}">

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">
                                    <lang>Passwort anzeigen</lang>
                                </a></li>
                                <li><a href="#">
                                    <lang>In die Zwischenablage</lang>
                                </a></li>
                                <li class="divider"></li>
                                <li><a href="#">
                                    <lang>Neues Passwort generieren</lang>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="icon-fixed-width icon-file-text"></i></span>
                        <textarea class="form-control" rows="3"
                                  placeholder="{{ 'Kommentare (Markdown)' | lang:this }}"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
